<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View more</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="#">Home</a></li>
<li><a href="#">About us</a></li>
<li><a href="#">Feedback</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
Source To <span>Destination</span></h1>
	<br />
	<br />
	<h2><a href="#">SURAT</a>......<a href="#">Baroda</a>......<a href="#">Ahmedabad</a></h2>
    </div>
	<br/>
	<div class="pm">
	<div class="package">
		<br />
		<h3>SURAT Darshan</h3>
		
		<h6>Starting From <h4>999₹</h4></h6>
		<br />
		<li>1 day </li>
		<li>Breakfast(per day)</li>
		<li> lunch</li>
		<li> Dinner</li>
		<br />
		<button class="button" align="center">select</button><br />
	</div>
	&nbps;
		<div class="package">
		<br />
		<h3> Ahmedabad Darshan </h3>
		<h6>Starting From <h4>1999₹</h4></h6>
		<br />
		<li>2days</li>
		<li>1 Night</li>
		<li>1 Breakfast(per day)</li>
		<li>dinner</li>
		<br />
		<button class="button" align="center">select</button><br />
	</div>
	&nbps;
		<div class="package">
		<br />
		<h3>Ahmedabad Holiday package</h3>
		<h6>Starting From <h4>4999₹</h4></h6>
		<br />
		<li>3days</li></h3>
		<li>2 Night</li>
		<li>1 Breakfast(per Day)</li>
		<li>1 Dinner</li>
		<br />
		<button class="button" align="center">select</button><br />
	</div>
	&nbps;
		<div class="package">
		<br />
		<h3>Baroda Holiday package</h3>
		<h6>Starting From <h4>5999₹</h4></h6>
		<br />
		<li>4 day </li>
		<li>3 Night</li>
		<li>1 Breakfast (per day)</li>
		<li>dinner</li>
		<br />
		<button class="button" align="center">select</button><br />
			
		
	</div>
	</div>
	
</header>
	
</body>
</html>
